body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(to top, #89f7fe, #66a6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transition: background 0.5s ease;
}